CV_OCR_SERVICE_HOST=127.0.0.1
CV_OCR_SERVICE_PORT=50051
CV_OCR_SERVICE_ADDRESS=[::]:50051
CV_OCR_OCR_MAX_WORKERS=8
CV_OCR_TESSERACT_LANGUAGES=rus+eng
CV_OCR_TESSERACT_TIMEOUT_SECONDS=30
OMP_THREAD_LIMIT=1
